/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*
.white {
  background: rgba(68,174,245,1);
  background: -moz-linear-gradient(left, rgba(68,174,245,1) 0%, rgba(166,219,255,1) 49%, rgba(68,174,245,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68,174,245,1)), color-stop(49%, rgba(166,219,255,1)), color-stop(100%, rgba(68,174,245,1)));
  background: -webkit-linear-gradient(left, rgba(68,174,245,1) 0%, rgba(166,219,255,1) 49%, rgba(68,174,245,1) 100%);
  background: -o-linear-gradient(left, rgba(68,174,245,1) 0%, rgba(166,219,255,1) 49%, rgba(68,174,245,1) 100%);
  background: -ms-linear-gradient(left, rgba(68,174,245,1) 0%, rgba(166,219,255,1) 49%, rgba(68,174,245,1) 100%);
  background: linear-gradient(to right, rgba(68,174,245,1) 0%, rgba(166,219,255,1) 49%, rgba(68,174,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44aef5', endColorstr='#44aef5', GradientType=1 );
}*/

#bob-img {
  margin-top: 5px;
}
